
*.DS_Store
__MACOSX/
MyURDFproject/build/
MyURDFproject/Library/PackageCache/com.unity.collab-proxy@1.15.18/Editor/Collaborate/Assets/Icons/more-vert-dark@2x.png.meta
MyURDFproject/[Ll]ibrary
MyURDFproject/Temp/
MyURDFproject/holobuild/
MyURDFproject/Build/
MyURDFproject/Logs/
